@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
// font-family: 'Balsamiq Sans', cursive;
.auth__main {
   background-image: url('/assets/img/journal-bg.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   align-items: center;
   // background-color: $primary;
   display: flex;
   justify-content: center;
   margin: 0;
   height: 100vh;
   width: 100vw;
}
 
.auth__box-container {
   //Esta debe ser la caja con estilo nemorfistra
   background-color: white;
   box-shadow: 5px 5px $dark-grey;
   border-radius: 2px;
   padding: 20px;
   width: 300px;
   // height: 380px;
   border-radius: 20px;
}

.auth__title {
   color: darken($color: $primary, $amount: 20);
   margin-bottom: 20px;
   font-family: 'Balsamiq Sans', cursive;
   font-size: 2rem;
}

.auth__input {
   width: 100%;
   border: none;
   outline: none;
   background: none;
   font-size: 16px;
   color: #555;
   padding: 10px 0px 12px 8px;
   margin-bottom: 30px;
   border-radius: 20px;
   box-shadow: inset 8px 5px 8px #cbced1,
               inset -8px -8px 30px #ffffff;
   ///DISEÑP DEL CURSO
   // color: $dark-grey;
   // border: none;
   // outline: none;
   // font-size: 16px;
   // margin-bottom: 10px;
   // height: 20px;
   // width: 100%;

   transition: border-bottom .3s ease;

   &:focus {
      border-bottom: 1px solid $primary;
      outline: none;
   }
}

.auth__social-networks {
   align-items: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding-top: 20px;
   padding-bottom: 20px;
   width: 100%;
}

.auth__alert-error {
   background-color: red;
   border-radius: 5px;
   color: white;
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
   padding: 5px;
}