.jounal__main-content {
   display: flex;
}

.journal__sidebar {
   background-color: $dark-grey;
   color: white;
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 500px;
}

.journal__sidebar-navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.journal__sidebar-navbar h3 {
   font-weight: lighter;
}

.journal__new-entry {
   align-items: center;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 30px;
   width: 100%;

   transition: color .3s ease;

   &:hover {
      color: darken($color: white, $amount: 20);
   }
}

.journal__entries {
   flex: 1 1 auto;
   margin-top: 30px;
   overflow-y: scroll;
   padding: 10px;
}

::-webkit-scrollbar {
   display: none;
}

.journal__entry {
   background-color: white;
   border-radius: 10px;
   color: $dark-grey;
   display: grid;
   // grid-template-columns: 70px 1fr 50px 50px;
   grid-template-columns: 70px 1fr 50px 15px;
   justify-content: center;
   justify-items: center;
   align-items: center;
   margin-bottom: 10px;
   overflow: hidden;
   min-height: 75px;
   // max-height: 75px;
}

.journal__entry-picture {
   min-height: 100%;
   width: 100%;
}

.journal__entry-body {
   padding: 10px;
}
.journal__entry-title {
   font-size: 14px;
   font-weight: bold;
}
.journal__delete i {
   color: red;
}
.journal__entry-content {
   font-size: 10px;
}

.journal__entry-date-box {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 5px;
}

.journal__entry-date-box span{
   font-size: 12px;
}